<div>
  Welcome, <%= @user.first_name %>
</div>
<br>

<%= button_to 'View My Libraries', user_libraries_path(@user), :method => :get %><br>

<%= button_to 'View All Libraries', libraries_path, :method => :get %><br>

<%= button_to 'Logout', logout_path, method: :delete %>